.forgot-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 60px 6px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: transparent;
}

.forgot-password-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #162938;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.7s;
}

button:hover {
    background-color: #162938;
    transform: scale(1.1);
}

.success-message {
    color: #28a745;
}

.error-message {
    color: #dc3545;
}

.iconBack i{
    cursor: pointer;
    font-size: 1.3em;
}